body{background: #110a19;}
header{width:100%;text-align: center;font-family: 'Open Sans', sans-serif;}
.name{color:whitesmoke;font-size: 8em;margin-top: 17%;text-shadow: 2px 2px #ff0000;}
.tagtext{color:whitesmoke; font-size:2.5em;margin-top:0%;text-shadow: 1px 1px #ff0000;}